body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.main{
  border-left:10rem solid red;
  border-right: 10rem solid red;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}  

img{
  height: 14rem;
  width: 14rem;
  border: 1px solid red;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 5px 1px red;
}

.wrapper{
  border: 1px solid red;
  padding: 2rem;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow:inset 0 0 5px 1px red;
  text-shadow:1px 1px #576574;
}

.email{
  color: #999;
  text-shadow: 2px 2px lightgray;
}

.page{
  padding: 2rem;
  align-items: center;
  text-align: center;
 
}
.page-no{
  font-size: 1rem;
  padding: 1rem;
  border:1px solid red;
  border-radius: 10px;
  box-shadow:inset 0 0 5px 1px red;

  
}

a{
  text-decoration: none;
  color: red;
}